<div class="movie-finder-container">
  <div fxFlex="100%">
    <app-movie-searcher (moviesChanged)="refresMovies($event)"></app-movie-searcher>
  </div>
  <div fxFlex="50%">
    <app-movie-list [movies]="movies"
                    (movieSelected)="selectMovie($event)"
                    [inRelatedMoviesMode]="inRelatedMoviesMode"></app-movie-list>
  </div>
  <div fxFlex="50%">
    <app-movie-detail [movie]="selectedMovie" (showRelatedMoviesChanged)="showRelatedMovies($event)"></app-movie-detail>
  </div>

</div>

